//- Appel du layout pour extension de celui-ci
extends views/layout.pug

//- Appel du block "content" du layout
append content
    //- Ajout du block "content-others" au block "content"
    append content-others
        //- Condition IF pour le chargement de la page correspondante
        if page === 'product-details'
            //- Si page === 'product-details' alors inclure views/product-details.pug
            include views/product-details.pug
        else if page === 'cart'
            //- Sinon si page === 'cart' alors inclure views/product-details.pug
            include views/cart.pug
        else
            //- Sinon dans tout les autres cas inclure views/product-details.pug
            include views/category-page.pug