// Section de la bannière
section(class="banner")
    // Contenu de la bannière
    div(class="in-banner")
        div(class="text-content text-white text-center")
            div(class="banner-title")
                h1(class="border-bottom m-0 pb-3") Plates
            div(class="banner-text pt-3") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at purus pulvinar, placerat turpis ac, interdum metus. In eget massa sed enim hendrerit auctor a eget arcu. Curabitur ac pharetra nisl sit.

//Section des différents articles
section(class="articles")
    div(id="articles" class="row mt-5")

//script(id="template" type="text/template")
//    div(class="col-6 col-lg-4 my-lg-5")
//        div(class="card")
//            //img(class="card-img-top" id="article-3" src="media/{{image}}" alt="Image of hand painted blue flat dish" title="Hand painted blue flat dish")
//            div(class="article-option" id="articleOptions" hidden)
//                button(class="btn btn-option mb-4")
//                    a(href="product-details") View details
//                button(class="btn btn-option mx-auto my-0") Add to cart
//            div(class="card-body")
//                p {{brand}}
//                p(class="card-text article-title") {{title}}
//                p {{price}}