// Header de la page
header
    nav(class="navbar navbar-expand-lg navbar-light border-bottom text-uppercase font-weight-bold")

        // Logo de la page
        a(class="navbar-brand order-2 order-lg-1 m-auto m-lg-0" href="home")
            img(src="media/logo.png" class="w-100" alt="Logo's Hero")

        // Bouton du menu lors du format tablette ou mobile
        button(class="navbar-toggler order-1 order-lg-2 border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            i(class="fas fa-bars")

        // Menu de navigation
        div(class="collapse navbar-collapse order-0 order-lg-2 justify-content-lg-center" id="navbarNav")
            ul(class="navbar-nav")
                // Home
                li(class="nav-item px-3")
                    a(class="nav-link text-dark" href="home") Home
                // Shop
                li(class="nav-item px-3 dropdown")
                    a(class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Shop
                    div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
                        a(class="dropdown-item" href="#") Action
                        a(class="dropdown-item" href="#") Another action
                        a(class="dropdown-item" href="#") Something else here
                // Journal
                li(class="nav-item px-3")
                    a(class="nav-link text-dark" href="#") Journal
                // More
                li(class="nav-item px-3 dropdown")
                    a(class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") More
                    div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1")
                        a(class="dropdown-item" href="#") Action
                        a(class="dropdown-item" href="#") Another action
                        a(class="dropdown-item" href="#") Something else here

        // Panier
        div(class="order-3")
            ul(class="navbar-nav")
                // My cart (2)
                li(class="nav-item dropdown")
                    a(class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        div(class="nav-link-cart d-inline")
                            span(id="shopCart") My cart
                            span (2)
                    // Dropdown du panier
                    div(class="dropdown-menu dropdown-menu-right position-absolute dropdown-menu-cart" aria-labelledby="navbarDropdownMenuLink2")
                        // Article n°1
                        div(class="row mx-0 mb-5")
                            // Image de l'article
                            div(class="col-3 p-0")
                                img(class="w-100 h-100" src="media/hand-painted-blue-flat-dish.jpg" alt="Image of hand painted blue flat dish" title="Hand painted blue flat dish")
                            // Caractéristique de l'article
                            div(class="col-8 pr-0")
                                p(class="article-title") Hand painted blue flat dish
                                    span(class="article-quantities") x 1
                                p Kiriko
                                p(class="text-dark") $28.00
                            // Action sur l'article (suppression)
                            div(class="col-1 p-0 text-right")
                                i(class="fas fa-times")
                        // Article n°2
                        div(class="row mx-0 my-4")
                            // Image de l'article
                            div(class="col-3 p-0")
                                img(class="w-100 h-100" src="media/mashiko-yaki-indigo-small-plate.jpg" alt="Image of mashiko-yaki indigo small plate" title="Mashiko yaki indigo small plate")
                            // Caractéristique de l'article
                            div(class="col-8 pr-0")
                                p(class="article-title") Mashiko yaki indigo small plate
                                    span(class="quantities") x 1
                                p Kiriko
                                p(class="text-dark") $28.00
                            // Action sur l'article (suppression)
                            div(class="col-1 p-0 text-right")
                                i(class="fas fa-times")
                        // Total des articles
                        div(class="row mx-0 my-4 border-top pt-1")
                            div(class="col-10 pl-0")
                                p(class="font-weight-normal") Total
                            div(class="col-2 pr-0")
                                p(class="font-weight-normal") $56.00
                        // Boutons d'actions du panier
                        div(class="row mx-0 mt-4")
                            div(class="col p-0")
                                button(class="btn w-100 btn-cart")
                                    a(href="cart") View cart
                            div(class="col pr-0")
                                button(class="btn w-100 btn-option") Checkout