<section class="container product-details">

<nav aria-label="breadcrumb">
<ol class="breadcrumb text-uppercase font-weight-bold bg-white justify-content-center my-5">
<li class="breadcrumb-item"><a class="text-dark" href="#">Home</a></li>
<li class="breadcrumb-item"><a class="text-dark" href="#">Plates</a></li>
<li class="breadcrumb-item active" aria-current="page">Hand painted blue flat dish</li>
</ol>
</nav>

<div class="row">
<div class="col-8">
<div class="w-100 h-100">
<img class="w-100 h-auto" src="../media/hand-painted-blue-flat-dish.jpg" />
</div>
</div>
<div class="col-4">
<div class="row text-center">
<p class="col-12 my-2">Kiriko</p>
<h1 class="col-12 font-weight-bold my-4">Hand Painted Blue Flat Dish</h1>
<p class="col-12 mt-2 mb-4">$28.00</p>
<p class="col-12 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at purus pulvinar, placerat turpis ac, interdum metus. In eget massa sed enim hendrerit auctor a eget arcu. Curabitur ac pharetra nisl, sit amet mattis dolor.</p>
</div>
<div class="row my-5 pt-5 border-top">
<div class="col-4 h-auto d-flex">
<div class="content-counter w-100 mr-1 text-center">
<p class="counter justify-content-center">1</p>
</div>
<div>
<button class="btn ml-1 mb-1 d-block rounded-0 bg-secondary"><i class="fas fa-plus"></i></button>
<button class="btn ml-1 mt-1 d-block rounded-0 bg-secondary"><i class="fas fa-minus"></i></button>
</div>
</div>
<div class="col-8 p-0 h-auto">
<button class="btn h-100 btn-option">Add to cart</button>
</div>
</div>
</div>
</div>

</section>