@charset "UTF-8";
/* -- DÉFINITIONS DES COULEURS GÉNÉRIQUES -- */
/* -- MIXINS DE GESTION DU RESPONSIVE -- */
/* -- ÉLÉMENTS GÉNÉRIQUES -- */
html {
  font-size: 62.5%; }

.body {
  font-family: 'Alef', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 2px; }

.text {
  margin: 0;
  color: gray; }

.btn, .btn:hover {
  background-color: #393935;
  color: white;
  border-radius: 0;
  width: 155px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 8px;
  font-size: 1.2rem; }

.btn:hover {
  background-color: #4A4A4D; }

.btn a, .btn:hover a {
  color: inherit;
  text-decoration: none; }

.article-title {
  color: black;
  text-transform: uppercase;
  font-weight: bold; }

/* -- ÉLÉMENTS SPÉCIFIQUES -- */
@media (min-width: 576px) {
  .navbar-toggler {
    font-size: 2rem; } }

@media (min-width: 992px) {
  .navbar-toggler {
    font-size: initial; } }

.nav-link-cart:hover {
  border-bottom: 1px solid; }

.dropdown-menu-cart {
  width: 362px;
  padding: 15px;
  font-family: 'Noto Sans JP', sans-serif; }

.dropdown-menu-cart .article-quantities {
  font-family: inherit;
  text-transform: none;
  font-weight: normal; }

.dropdown-menu-cart .btn {
  padding: 12px;
  letter-spacing: 2px; }

.dropdown-menu-cart .btn-cart {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 2px; }

.banner {
  background-image: url("../media/plates-header.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto; }

.banner .in-banner {
  background-color: #393935;
  border: 0;
  border-left: 10px solid white;
  border-right: 10px solid white; }

@media (min-width: 576px) {
  .banner .in-banner {
    margin: 0 12%;
    height: 325px; } }

@media (min-width: 992px) {
  .banner .in-banner {
    margin: 0 25%;
    height: 480px; } }

@media (min-width: 576px) {
  .banner .text-content {
    padding: 8% 10%; } }

@media (min-width: 992px) {
  .banner .text-content {
    padding: 27% 6%; } }

@media (min-width: 1441px) {
  .banner .text-content {
    padding: 17% 5%; } }

.banner .banner-title {
  width: fit-content;
  margin: auto; }

.banner h2 {
  font-family: 'Crimson Text', serif; }

@media (min-width: 576px) {
  .banner h2 {
    font-size: 4rem;
    font-weight: bold; } }

@media (min-width: 992px) {
  .banner h2 {
    font-size: 3.5rem;
    border-bottom: 1px solid white;
    font-weight: normal; } }

@media (min-width: 1441px) {
  .banner h2 {
    font-size: 4rem; } }

.banner .banner-text {
  letter-spacing: normal; }

@media (min-width: 576px) {
  .banner .banner-text {
    font-size: 2.5rem;
    font-weight: bold; } }

@media (min-width: 992px) {
  .banner .banner-text {
    font-size: 1.3rem;
    font-weight: normal; } }

@media (min-width: 1441px) {
  .banner .banner-text {
    font-size: 1.8rem; } }

@media (min-width: 576px) {
  .articles {
    margin: 0 5%; } }

@media (min-width: 992px) {
  .articles {
    margin: 0 20%; } }

.articles .col {
  padding: 4rem;
  padding-top: 0;
  padding-bottom: 0; }

.articles .card {
  border: 0; }

.articles .card-img-top {
  height: 260px;
  width: 100%; }

.articles .card-body {
  text-align: center; }

.articles .article-option {
  position: absolute;
  width: 100%;
  height: 260px;
  background-color: rgba(250, 250, 250, 0.5); }

@media (min-width: 576px) {
  .articles .article-option {
    padding: 20% 32% 0; } }

@media (min-width: 992px) {
  .articles .article-option {
    padding: 34% 21% 0; } }

@media (min-width: 1441px) {
  .articles .article-option {
    padding: 25% 28% 0; } }

@media (min-width: 576px) {
  .title-cart {
    font-size: 4rem; } }

@media (min-width: 992px) {
  .title-cart {
    font-size: 4rem; } }

.shopping-cart {
  background-color: #F6F6F6; }

.content-counter {
  background-color: #EEEEEE; }

.content-counter .counter {
  margin: 32% 20%;
  color: black;
  font-size: 1.8rem; }

@media (min-width: 576px) {
  .content-counter .counter-sm {
    color: black;
    font-size: 1.8rem;
    margin: 20% 20%; } }

.btn-quantity, .btn-quantity:last-child, .btn-quantity:hover {
  background-color: #DADADA;
  color: black;
  border: 0;
  border-bottom: 1px solid white;
  border-radius: 0; }

.btn-quantity:last-child {
  border: 0;
  border-top: 1px solid white; }

.btn-quantity:hover {
  background-color: #cdcdcd; }

@media (min-width: 576px) {
  .continue-shop {
    border-bottom: 1px solid black; } }

@media (min-width: 992px) {
  .continue-shop {
    border: 0; } }

@media (min-width: 576px) {
  .continue-shop a, .continue-shop a:hover {
    border-bottom: 0;
    text-decoration: none; } }

@media (min-width: 992px) {
  .continue-shop a, .continue-shop a:hover {
    border-bottom: 1px solid black;
    text-decoration: none; } }
